@charset "UTF-8";
@font-face {
  font-family: "SF Mono";
  src: url("../fonts/SFMono/SFMono-Regular.ttf");
}

@font-face {
  font-family: "Calibre";
  src: url("../fonts/Calibre/Calibre-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Calibre";
  src: url("../fonts/Calibre/Calibre-Semibold.ttf");
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0a192f;
  font-family: "Calibre", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  color: #8892b0;
}

a.nL {
  color: #64ffda;
  position: relative;
}

a.nL::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #64ffda;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

a.nL:hover {
  color: #64ffda;
}

a.nL:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

header {
  min-height: 100vh;
}

header .sideBar .leftBar,
header .sideBar .rightBar {
  z-index: 10;
  bottom: 0;
  width: 40px;
}

header .sideBar .leftBar li a i,
header .sideBar .leftBar a,
header .sideBar .rightBar li a i,
header .sideBar .rightBar a {
  color: #a8b2d1;
  font-size: 1.16rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .sideBar .leftBar li a i:hover,
header .sideBar .leftBar a:hover,
header .sideBar .rightBar li a i:hover,
header .sideBar .rightBar a:hover {
  color: #64ffda;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

header .sideBar .leftBar::after,
header .sideBar .rightBar::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

header .sideBar .leftBar {
  left: 40px;
}

header .sideBar .leftBar li {
  padding: 11px;
}

header .sideBar .rightBar {
  right: 40px;
}

header .sideBar .rightBar a {
  padding: 11px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.78rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 0.1rem;
}

header nav {
  z-index: 11;
  background: #0a192f;
}

header nav .navbar-toggler {
  height: 60px;
  width: 62px;
  position: relative;
}

header nav .navbar-toggler:active, header nav .navbar-toggler:focus {
  outline: none;
  border: none;
}

header nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

header nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon::after {
  top: 44%;
  width: 30px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

header nav .navbar-toggler[aria-expanded=true] .navbar-toggler-icon::before {
  display: none;
}

header nav .navbar-toggler .navbar-toggler-icon {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 30px;
  height: 2px;
  background: #64ffda;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header nav .navbar-toggler .navbar-toggler-icon::before, header nav .navbar-toggler .navbar-toggler-icon::after {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  content: "";
  position: absolute;
  right: 0;
  height: 2px;
  background: #64ffda;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header nav .navbar-toggler .navbar-toggler-icon::before {
  top: -500%;
  width: 36px;
}

header nav .navbar-toggler .navbar-toggler-icon::after {
  bottom: -500%;
  width: 24px;
}

header nav .navbar-brand-wrapper {
  background: #64ffda;
  padding: 2px;
  -webkit-clip-path: polygon(50% 0, 100% 26%, 100% 74%, 50% 100%, 0 74%, 0 26%);
          clip-path: polygon(50% 0, 100% 26%, 100% 74%, 50% 100%, 0 74%, 0 26%);
}

header nav .navbar-brand-wrapper .navbar-brand {
  font-family: sans-serif;
  background: #0a192f;
  color: #64ffda !important;
  padding: 3px 9px;
  -webkit-clip-path: polygon(50% 0, 100% 26%, 100% 74%, 50% 100%, 0 74%, 0 26%);
          clip-path: polygon(50% 0, 100% 26%, 100% 74%, 50% 100%, 0 74%, 0 26%);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav .navbar-brand-wrapper .navbar-brand:hover {
  background: #172a45;
}

header nav .nav-item a {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.8rem;
  color: #ccd6f6;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav .nav-item a span, header nav .nav-item a:hover {
  color: #64ffda;
}

header .hero {
  font-family: "Calibre", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  min-height: 90vh;
}

header .hero .topSmall p {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda;
}

header .hero .name h2,
header .hero .shortDesc h2 {
  font-size: 5rem;
  font-weight: 600;
  color: #ccd6f6;
}

@media only screen and (max-width: 1200px) {
  header .hero .name h2,
  header .hero .shortDesc h2 {
    font-size: 4.6rem;
  }
}

@media only screen and (max-width: 992px) {
  header .hero .name h2,
  header .hero .shortDesc h2 {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 768px) {
  header .hero .name h2,
  header .hero .shortDesc h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 360px) {
  header .hero .name h2,
  header .hero .shortDesc h2 {
    font-size: 2rem;
  }
}

header .hero .shortDesc h2 {
  color: #a8b2d1;
}

header .hero .desc p {
  max-width: 500px;
  color: #8892b0;
  font-size: 1.2rem;
}

header .hero a.button {
  font-size: 0.9rem;
  padding: 20px 26px;
}

section#aboutMe {
  max-width: 930px;
  margin: auto;
}

section#aboutMe .desc p {
  font-size: 1.24rem;
}

section#aboutMe .desc ul {
  -webkit-columns: 2;
          columns: 2;
}

section#aboutMe .desc ul li {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 0.86rem;
}

section#aboutMe .desc ul li::before {
  content: "▹";
  font-size: 1rem;
  padding: 12px;
  padding-left: 0;
  color: #64ffda;
}

section#aboutMe .img {
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section#aboutMe .img .imgBox:hover::after {
  -webkit-transform: translate(-46%, 4%);
          transform: translate(-46%, 4%);
}

section#aboutMe .img .imgBox:hover::before {
  opacity: 0;
}

section#aboutMe .img .imgBox::after, section#aboutMe .img .imgBox::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-44%, 6%);
          transform: translate(-44%, 6%);
  border: 2px solid #64ffda;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: -1;
}

section#aboutMe .img .imgBox::before {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  border-radius: 5px;
  background: rgba(100, 255, 218, 0.3);
  z-index: 1;
}

section#aboutMe .img .imgBox img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.button {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda !important;
  border: 1px solid #64ffda;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button:hover {
  background: #172a45;
}

.sectionHeading h3 {
  color: #ccd6f6;
  font-family: "Calibre", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  overflow: visible;
}

.sectionHeading h3 .number {
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1.2rem;
  font-weight: 400;
}

.sectionHeading h3::after {
  content: "";
  position: relative;
  display: inline-block;
  top: -7px;
  left: 30px;
  width: 300px;
  height: 1px;
  background: #ccd6f6;
  opacity: .3;
}
/*# sourceMappingURL=main.css.map */