@font-face {
    font-family: "SF Mono";
    src: url('../fonts/SFMono/SFMono-Regular.ttf');
}

@font-face {
    font-family: "Calibre";
    src: url('../fonts/Calibre/Calibre-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: "Calibre";
    src: url('../fonts/Calibre/Calibre-Semibold.ttf');
    font-weight: 600;
}

// fonts
$font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
$font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;


// colors
$color-Navy: #0a192f;
$color-Light-Navy: #172a45;
$color-Lightest-Navy: #303C55;
$color-Slate: #8892b0;
$color-Light-Slate: #a8b2d1;
$color-Lightest-Slate: #ccd6f6;
$color-White: #e6f1ff;
$color-Green: #64ffda;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-Navy;
    font-family: $font-sans;
    color: $color-Slate;
}

a.nL {
    color: $color-Green;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color-Green;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: transform .2s ease-in-out;
    }

    &:hover {
        color: $color-Green;
        
        &::after {
            transform: scaleX(1);
            transform-origin: 0% 50%;
        }
    }
}

header {
    min-height: 100vh;
    .sideBar {
        .leftBar,
        .rightBar {
            z-index: 10;
            bottom: 0;
            width: 40px;

            li a i,
            a {
                color: $color-Light-Slate;
                font-size: 1.16rem;
                transition: all .2s ease-in-out;

                &:hover {
                    color: $color-Green;
                    transform: translateY(-3px);
                }
            }

            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 90px;
                margin: 0px auto;
                background-color: $color-Light-Slate;
            }
        }
        .leftBar {
            left: 40px;

            li {
                padding: 11px;
            }
        }
        .rightBar {
            right: 40px;

            a {
                padding: 11px;
                font-family: $font-mono;
                font-size: 0.78rem;
                writing-mode: vertical-lr;
                letter-spacing: 0.1rem;
            }
        }
    }
    

    nav {
        z-index: 11;
        background: $color-Navy;
        .navbar-toggler {
            height: 60px;
            width: 62px;
            position: relative;

            &:active, &:focus {
                outline: none;
                border: none;
            }

            &[aria-expanded=true]{
                .navbar-toggler-icon {
                    transform: rotate(225deg);
                    &::after {
                        top: 44%;
                        width: 30px;
                        transform: rotate(270deg);
                    }
                    &::before {
                        display: none;
                    }
                }
            }

            .navbar-toggler-icon{
                position: absolute;
                top: 50%;
                right: 20%;
                width: 30px;
                height: 2px;
                background: $color-Green;
                transition: all .2s ease-in-out;
                transform: rotate(0deg);

                &::before, &::after {
                    transition: all .2s ease-in-out;
                    content: "";
                    position: absolute;
                    right: 0;
                    height: 2px;
                    background: $color-Green;
                    transform: rotate(0deg);
                }
                &::before {
                    top: -500%;
                    width: 36px;
                }
                &::after {
                    bottom: -500%;
                    width: 24px;
                }
            }
        }
        .navbar-brand-wrapper {
            background: $color-Green;
            padding: 2px;
            clip-path: polygon(50% 0, 100% 26%, 100% 74%, 50% 100%, 0 74%, 0 26%);

            .navbar-brand {
                background: $color-Navy;
                color: $color-Green!important;
                padding: 3px 9px;
                clip-path: polygon(50% 0, 100% 26%, 100% 74%, 50% 100%, 0 74%, 0 26%);
                transition: all .2s ease-in-out;

                &:hover {
                    background: $color-Light-Navy;
                }
            }
        }
        .nav-item a {
            font-family: $font-mono;
            font-size: 0.8rem;
            color: $color-Lightest-Slate;
            transition: all .2s ease-in-out;

            span, &:hover {
                color: $color-Green;
            }
        }
    }

    .hero {
        font-family: $font-sans;

        .topSmall p {
            font-family: $font-mono;
            color: $color-Green;
        }
        .name h2, 
        .shortDesc h2 {
            font-size: 5rem;
            font-weight: 600;
            color: $color-Lightest-Slate;
            @media only screen and (max-width: 1200px) {
                font-size: 4.6rem;
            }
            @media only screen and (max-width: 992px) {
                font-size: 3.8rem;
            }
            @media only screen and (max-width: 768px) {
                font-size: 3rem;
            }
            @media only screen and (max-width: 360px) {
                font-size: 2rem;
            }
        }
        .shortDesc h2 {
            color: $color-Light-Slate;
        }
        .desc p {
            max-width: 500px;
            color: $color-Slate;
            font-size: 1.2rem;
        }
        a.button {
            font-size: 0.9rem;
            padding: 20px 26px;
        }
    }
}

section#aboutMe {
    max-width: 930px;
    margin: auto;

    .desc {
        p {
            font-size: 1.3rem;
        }
        ul {
            columns: 2;

            li {
                font-family: $font-mono;
                font-size: 0.86rem;

                &::before {
                    content: "▹";
                    font-size: 1rem;
                    padding: 12px;
                    padding-left: 0;
                    color: $color-Green;
                }
            }
        }
    }
    .img {
        position: relative;
        transition: all .2s ease-in-out;

        .imgBox {
            &:hover {
                &::after {
                    transform: translate(-46%, 4%);
                }
                &::before {
                    opacity: 0;
                }
            }
    
            &::after, &::before {
                content: "";
                position: absolute;
                width: 300px;
                height: 300px;
                top: 0;
                left: 50%;
                transform: translate(-44%, 6%);
                border: 2px solid $color-Green;
                border-radius: 5px;
                transition: all .2s ease-in-out;
                z-index: -1;
            }
            &::before {
                transform: translateX(-50%);
                border: none;
                border-radius: 5px;
                background: rgba($color-Green, .3);
                z-index: 1;
            }
    
            img {
                width: 300px;
                height: 300px;
                border-radius: 5px;
            }
        }
    }
}


// BUTTON
.button {
    font-family: $font-mono;
    color: $color-Green!important;
    border: 1px solid $color-Green;
    border-radius: 4px;
    transition: all .2s ease-in-out;

    &:hover {
        background: $color-Light-Navy;
    }
}

// SECTION HEADING
.sectionHeading h3 {
    color: $color-Lightest-Slate;
    font-family: $font-sans;
    font-size: 2rem;
    font-weight: 600;
    overflow: visible;

    .number {
        color: $color-Green;
        font-family: $font-mono;
        font-size: 1.2rem;
        font-weight: 400;
    }

    &::after {
        content: "";
        position: relative;
        display: inline-block;
        top: -7px;
        left: 30px;
        width: 300px;
        height: 1px;
        background: $color-Lightest-Slate;
        opacity: .3;
    }
}